simple_salesforce==0.73.0
smart_open==1.5.7
boto3>=1.7.35

pytest
psycopg2-binary==2.7.4
statsmodels==0.9.0
toolz==0.9.0
cloudpickle==0.5.3
Cython==0.28.3
pytz>=2011k
python-dateutil>=2.5.0
numpy==1.14.3
scipy==1.1.0
scikit-learn==0.19.1
networkx==2.0
googlemaps>2.5
pandas==0.23
sqlalchemy==1.1.14
geocoder==1.36.0
uuid==1.30
googlemaps>2.5
geopy>=1.11.0
dask>=0.16.1
jupyter>=1.0.0
gmaps>=0.8.0
more-itertools>=4.1.0
joblib==0.11